table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
  }
  
  td:hover {
    cursor: pointer;
    background-color: #fdcdcd; /* Highlight color on hover */
    opacity: 0.5;
  }