:root {
  --header-bg-color: #ffffff; /* Default background color for headers */
  --border-color: #cccccc;    /* Default border color */
  --hover-color:red;
  --max-height: 800px;
}

td, th {
  font-size: 14px;
  border: 1px solid var(--border-color);
  padding: 4px;
  text-align: center;
}

th {
  background-color: var(--header-bg-color);
}

.row_heading{
  text-align: center;
}

.clickabletable-container{
  max-height: var(--max-height);
  overflow: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

td:hover {
  cursor: pointer;
  /* border: 1px solid var(--hover-color); */
  opacity: 0.5;
}

.inverse-filter {
  filter: invert(100%);
}

.data-bar-container {
  position: relative;
  height: 20px; /* Example height */
}

.data-bar {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
}

.data-bar-label {
  position: relative;
  z-index: 2;
  text-align: right;
  padding-right: 5px; /* Give some space for the label */
}

.negative {
  background-color: red;
  right: 50%;
}

.positive {
  background-color: blue;
  left: 50%;
}

.range-line {
  position: relative;
  height: 1px;            /* This is the line height */
  background-color: #000; /* Black line for the range */
  width: 100%;
  
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  opacity: 50%;
}
